html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}


#wrapper #content-wrapper {
  background-color: #f3b600;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

#wrapper #content-wrapper #content{
  width: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

#content h2{
  margin-top: 0.5rem;
  text-align: center;
  color: #FF8800;
}

#content .btn{
  background-color: #FF8800;
  border-color: #FF8800;
  color: white;
  opacity: 0.85;
}

#content .btn:hover{
  opacity: 1;
}

#content label{
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.form-group{
  margin-bottom: 0rem;
}

.form-control:disabled{
  cursor: not-allowed;
}

.custom_select{
  border-color:#f1f1f1;
  width: 50%;
  font-weight: 600;

}

.custom_select:disabled{
  background-color: #616161;
  opacity: 1;
  color: white;
}

#result{
  margin: 15px 0px;
  color: #FF8800;
  font-weight: 600;
}

/*
=======================
Slider Styles
=======================
*/
.slidecontainer {
  width: 100%; 
}

.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 15px; 
  background: #616161; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; 
  height: 20px; 
  background: #FF8800; 
  cursor: pointer; 
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

.slider::-moz-range-thumb {
  width: 20px; 
  height: 20px; 
  background: #FF8800; 
  cursor: pointer; 
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

/*
=======================
End of Slider Styles
=======================
*/

@media screen and (max-width: 1200px) {
  .btn-sub{
    margin-top: 15px;
  }
}

@media screen and (max-width: 992px) {
  #wrapper #content-wrapper #content {
     width: 75%;
  }
}

@media screen and (max-width: 480px) {
  #wrapper #content-wrapper #content {
     width: 85%;
  }
}